.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.paginationBtn,
.active {
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ccc;
}

.paginationBtn {
  cursor: pointer;
}

.active {
  background: #ddd;
}
