.card {
  max-width: 220px;
}

.img {
  width: auto;
  height: 120px;
}

.title {
  font-size: 18px;
  margin-bottom: 0;
}

.description {
  font-size: 14px;
}

.price {
  font-size: 16px;
  font-weight: 700;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
