.row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: fit-content;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.button {
  height: 40px;
  background: #2a7beb;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .3s;
}

.button:hover {
  background: #2066c8;
  color: #fff;
}