.sortContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.sortDirection {
  display: flex;
  overflow: hidden;
}

.radioItem input[type='radio'] {
  display: none;
}

.radioItem label {
  display: inline-block;
  padding: 0px 15px;
  line-height: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

.radioItem:first-child label {
  border-radius: 6px 0 0 6px;
}

.radioItem:last-child label {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid #999;
}

.sortDirection input[type='radio']:checked + label {
  background: #eee;
}
